<h1>Engagements#show</h1>

<p>
<b>Reference</b>:
<%= @engagement.reference %>
</p>

<p>
<b>Job reference</b>:
<%= @engagement.job__reference %>
</p>

<p>
<b>Job title</b>:
<%= @engagement.job__title %>
</p>

<p>
<b>Provider Team</b>:
<%= @engagement.provider_team__name %>
</p>


<%= 'pay bonus' %>

<br />
